# Palabras reservadas, nombres y el espacio de nombres.

## Palabras reservadas de Python.

Las palabras reservadas (keywords) corresponden a los nombres de las declaraciones que el intérprete de Python incluye por defecto. No se deben utilizar dichas palabras para asignar nombres a otros objetos.

El listado de palabras reservadas puede ser consultado ingresando ```help('keywords')``` desde la interfaz interactiva.

**Ejemplo:**

* La siguiente celda desplegará las palabras reservadas del intérpete de Python que usa la notebook.

In [4]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

## El espacio de nombres (namespace).

El espacio de nombres (namespace) contiene una relación de los objetos existentes en la memoria del sistema y los nombres a los que están ligados.

* Python es un lenguaje de muy alto nivel en el que todos sus elementos son objetos, incluyendo los tipos de datos básicos de tal forma que los términos "valor" y "objeto" son sinónimos.
* Si un objeto no está ligado al menos a un nombre, dicho objeto es desechado por el intérprete.
* Un objeto puede tener más de un nombre.

## El operador de asignación ```=```.

Para relacionar a un nombre con un objeto, se utiliza el el operador de asignación ```=``` con la siguiente sintaxis:

```
<nombre> = <objeto>
```

**Ejemplo:**

* Las siguientes celdas asignarán un nombre a un objeto de Python. Por el momento no se discutirá el qué tipo de objeto del que se trata.

In [6]:
saludo = 'Hola'

In [7]:
matriz = [["autobús", "diesel", True], ["automóvil", "gasolina", True]]

In [8]:
numero = 23.45

## Despliegue de  valores ligados a un nombre en el entorno interactivo. 

En el entorno interactivo es posible desplegar el contenido de un objeto tan sólo con ingresar su nombre.

Si se hace referencia a un nombre que no se encuentra en el espacio de nombres, se desencadenará un error de tipo ```NameError```.

* Cada una de las celdas siguientes regresará el objeto que corresponde a cada nombre asignado.

In [9]:
saludo

'Hola'

In [10]:
matriz

[['autobús', 'diesel', True], ['automóvil', 'gasolina', True]]

In [11]:
numero

23.45

* El nombre ```indefinido``` no se encuentra en el espacio de nombres y por lo tanto se desencadenará un error de tipo  ```NameError```.

In [12]:
indefinido

NameError: name 'indefinido' is not defined

### Asignación de múltiples nombres a igual número de objetos.

Es posible asignar a varios nombres un número igual de objetos usando un sólo operador de asignación mediante la siguiente sintaxis:

```
<nombre 1>, <nombre 2>, <nombre 3>, ..., <nombre n> = <objeto 1>, <objeto 2>, <objeto 3>, ...,<objeto n>```

**Ejemplo:**

* La siguiente celda contiene una línea que asignará 4 nombres a igual número de objetos.

In [13]:
entero, flotante, complejo, booleano = 12, 4.5, (12.3 + 23j), True

In [14]:
entero

12

In [15]:
complejo

(12.3+23j)

In [16]:
flotante

4.5

In [17]:
booleano

True

### Sintaxis para la elaboración de nombres en Python 3.

* Python 3 acepta el uso de [*Unicode*](https://es.wikipedia.org/wiki/Unicode), por lo que es posible utilizar cualquier caracter alfabético, incluso aquellos que no pertencen al alfabeto occidental para la elaboración de nombres.
* Los nombres pueden empezar con un guión bajo ```_``` o un caracter alfabético.
* Después del primer caracter, se pueden utilizar caracteres alfabéticos, números y/o guiones bajos.
* No se permiten caracteres distintos a los alfabéticos o que pudieran confundirse con operadores como ```|```, ```~```, ```#```, ```-```, etc.
* Se pueden utilizar mayúsculas, pero cabe señalar que Python es sensible a mayúsculas.

**Ejemplos:**

* Las siguientes celdas contienen asignaciones con nombres que se apegan a la sintaxis correcta, incluso usando el alfabeto hebreo.

In [18]:
_saludo = 'Hola'

In [19]:
número = 23

In [20]:
Numero = 45.32

* A continuación se ejemplifica el usos de caracteres de alfabetos distintos a los occidentales utilizando el alfabeto hebreo, el cual se escribe de derecha a izquierda.

In [21]:
יהוה = "Dios"

* Las siguientes celdas desplegarán el valor del objeto ligado a los nombres definidos previamente en esta notebook.

In [22]:
saludo

'Hola'

In [23]:
_saludo

'Hola'

In [24]:
número

23

In [25]:
Numero

45.32

In [26]:
יהוה

'Dios'

* En la siguiente celda se realizará una asignación utilizando un nombre incorrecto, desencandeado un error de tipo ```SyntaxError```.

In [27]:
1error = "Ups"

SyntaxError: invalid syntax (<ipython-input-27-a1595616a4fe>, line 1)

## La función ```id()```.

Cada objeto cuenta con un *número identificador*, el cual corresponde a la posición en la que se encuentra almacenado en la memoria. 

La función ```id()``` permite acceder al número identificador de cada objeto usando su nombre como argumento.

La sintaxis es la siguiente:

```
id(<nombre>)
```

**Ejemplo:**

* A continuación se le asignará el nombre ```saludo``` al objeto ```"Hola"``` y se obtendrá su número identificador mediante la función ```id()```.

In [28]:
saludo = "Hola"

In [29]:
id(saludo)

140476346091120

## Asignación de múltiples nombres al mismo objeto.

Python es un lenguaje que gestiona de forma automática el uso de la memoria y trata de optimizar su uso, por lo que en caso de que se defina un objeto idéntico a otro ya existente, no creará uno nuevo, sino que ligará el nuevo nombre al objeto existente.

Un objeto puede estar relacionado con más de un nombre.

**Ejemplo:**

* En la siguientes celdas se le asignarán dos nombres al objeto con valor igual a ```45```.

In [30]:
numero = 45

In [31]:
otro_numero = 45

* Aún cuando se definen de forma separada, el resultado de la función ```id()``` es el mismo para cada nombre.

In [32]:
id(numero)

4318674656

In [33]:
id(otro_numero)

4318674656

* Cuando a un nombre se le liga con otro objeto, el número identificador ligado a dicho nombre corresponde al nuevo objeto.

**Ejemplo:**

* La siguiente celda le asignará al objeto ```25``` el nombre de ```otro_numero```, el cual fue definido en celdas previas.

In [34]:
otro_numero = 25

* Por lo tanto, ahora el número identificador de ```numero```y ```otro_numero``` son distintos.

In [35]:
id(otro_numero)

4318674016

In [36]:
id(numero)

4318674656

 ### Asignación de múltiples nombres a un objeto. 

Para asignarle más de un nombre al mismo objeto, sólo es necesario referenciar un nombre existente al nuevo nombre.

```
<nombre 1> = <nombre 2> 
```

**Ejemplo:**

* Las siguientes celdas le asignarán el nombre ```lista_1``` y ```lista_2``` al mismo objeto.

In [37]:
lista_1 = [1, 2, 3, 4, 5]

In [38]:
lista_2 = lista_1

* Se puede observar que el número identificador corresponde al mismo objeto, aún cuando tiene otro nombre.

In [39]:
id(lista_1)

140476345659776

In [40]:
id(lista_2)

140476345659776

## Eliminación de nombres mediante la declaración ```del```.

La declaración ```del``` funciona de la siguiente manera:

* Desliga al nombre de un objeto en el espacio de nombres.
* Elimina al nombre del espacio de nombres.
* En caso de que el objeto no esté ligado a otro nombre en el espacio de nombres, el intérprete de Python podría desecharlo de forma automática.
    
El modo en el que un objeto puede ser destruido varía dependiendo del tipo de objeto.

**Ejemplo:**

* Se creará el objeto ```"Juan"``` al cual se le asignarán los nombres ```nombre``` y ```otro_nombre```.

In [41]:
nombre = "Juan"

In [42]:
id(nombre)

140476346774832

In [43]:
otro_nombre = "Juan"

In [44]:
id(otro_nombre)

140476346774832

* Se eliminará ```nombre``` del espacio de nombres.

In [45]:
del nombre

* Debido a que ```nombre``` fue eliminado del espacio de nombres, la siguiente celda regresará un erro de tipo ```NameError```.

In [46]:
nombre

NameError: name 'nombre' is not defined

* El objeto ```"Juan"``` sigue existiendo en la memoria, debido a que aún existe un nombre al que está ligado.

In [47]:
otro_nombre

'Juan'

In [48]:
45

45

In [49]:
45+5

50

### Despliegue del contendio del espacio de nombres.

La función ```dir()``` despliega un listado del contenido del espacio de nombres de un objeto que es ingresado como argumento.

```
dir(<objeto>)
```

Cuando se usa la función ```dir()``` sin argumentos, esta regresa el listado de nombres del espacio de nombres principal.

**Ejemplos:**

* La siguiente celda despelgará el listado de nombres de esta notebook.

*Se puede apreciar que el listado incluye una serie de nombre especiales y todos los nombres que se han definido a lo largo de este capítulo.

In [50]:
dir()

['In',
 'Numero',
 'Out',
 '_',
 '_10',
 '_11',
 '_14',
 '_15',
 '_16',
 '_17',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_29',
 '_32',
 '_33',
 '_35',
 '_36',
 '_39',
 '_40',
 '_42',
 '_44',
 '_47',
 '_48',
 '_49',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_saludo',
 'booleano',
 'complejo',
 'entero',
 'exit',
 'flotante',
 'get_ipython',
 'lista_1',
 'lista_2',
 'matriz',
 'numero',
 'número',
 'otro_nombre',
 'otro_numero',
 'quit',
 'saludo',
 'יהוה']

* La siguiente celda elimina el nombre ```saludo```, el cual fue definido previamente.

In [51]:
del saludo

* El resultado es que el nombre ```saludo``` ya no será enlistado al ejecutar la función ```dir()```.

In [52]:
dir()

['In',
 'Numero',
 'Out',
 '_',
 '_10',
 '_11',
 '_14',
 '_15',
 '_16',
 '_17',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_29',
 '_32',
 '_33',
 '_35',
 '_36',
 '_39',
 '_40',
 '_42',
 '_44',
 '_47',
 '_48',
 '_49',
 '_50',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_saludo',
 'booleano',
 'complejo',
 'entero',
 'exit',
 'flotante',
 'get_ipython',
 'lista_1',
 'lista_2',
 'matriz',
 'numero',
 'número',
 'otro_nombre',
 'otro_numero',
 'quit',
 'יהוה']

* Lo mismo sucede al eliminar el nombre ```יהוה```.

In [53]:
del יהוה

In [54]:
dir()

['In',
 'Numero',
 'Out',
 '_',
 '_10',
 '_11',
 '_14',
 '_15',
 '_16',
 '_17',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_29',
 '_32',
 '_33',
 '_35',
 '_36',
 '_39',
 '_40',
 '_42',
 '_44',
 '_47',
 '_48',
 '_49',
 '_50',
 '_52',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_saludo',
 'booleano',
 'complejo',
 'entero',
 'exit',
 'flotante',
 'get_ipython',
 'lista_1',
 'lista_2',
 'matriz',
 'numero',
 'número',
 'otro_nombre',
 'otro_numero',
 'quit']

In [55]:
dir(Numero)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']